In [55]:
import pandas as pd

with open("data-faces-wider/annotations.txt") as f:
    lines = []
    for line in f:
        lines.append(line.strip('\n'))
        
        
df = pd.DataFrame() 

count=0
new=True

for line in lines:
    if 'jpg' in line:
        img=line
        if new== True:
            count=0
            new=False
            
    elif ',' in line:
        position=line.split(',')
        df[img+str(count)]=(pd.Series(position))
        count+=1
    elif ','not in line:
        new=True
        count=0

In [56]:
df

,0.jpg0,0.jpg1,0.jpg2,0.jpg3,0.jpg4,1.jpg0,1.jpg1,1.jpg2,1.jpg3,2.jpg0,...,320.jpg4,320.jpg5,320.jpg6,321.jpg0,321.jpg1,321.jpg2,322.jpg0,322.jpg1,323.jpg0,323.jpg1
0,111,209,368,555,707,260,666,810,712,7,...,417,614,362,140,458,856,229,392,336,712
1,425,347,252,282,252,303,325,308,336,399,...,671,708,981,278,264,282,440,259,242,278
2,122,70,89,89,92,78,40,31,32,201,...,51,36,86,84,82,76,133,232,152,126
3,127,103,133,100,133,96,52,39,44,342,...,62,57,52,82,112,90,169,322,202,152
4,0,0,0,0,0,2,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,1,1,1,0,...,1,1,1,1,0,1,0,0,0,0
7,1,1,1,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [107]:
import pandas as pd

with open("data-faces-wider/annotations.txt") as f:
    lines = []
    for line in f:
        lines.append(line.strip('\n'))

df = pd.DataFrame(columns=['x', 'y', 'w', 'h', 'f', 'r', 'e', 't', 'p','name'])
img='ii'
for line in lines:
    if 'jpg' in line:
        img = line
    elif ',' in line:
        position = line.split(',')
        position.append(img)
        df.loc[len(df),:]=position

In [110]:
adf=(df[df['name']=='0.jpg'])

In [111]:
for index,row in adf.iterrows():
    x=row['x']
    y=row['y']
    w=row['w']
    h=row['h']
    print(x,y,w,h)

111 425 122 127
209 347 70 103
368 252 89 133
555 282 89 100
707 252 92 133